
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <br>
        <br>
        <br>
        <h3><i class="fa fa-angle-right"></i> Welcome in my Website </h3>
        <div class="row mt">
          <div class="white-panel mt">
            <div class="panel-body">
              <form action="assets/dropzone/upload.php" class="dropzone" id="my-awesome-dropzone"></form>
            </div>
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
