
                  <br><br>
                    <br><br>
                    <div class="container">
<div class="row">
  <div class="col-lg-6">
                      <h4>Select Category :</h4>

                        
                      <select name="category" class="custom-select" style="width:50%" [(ngModel)]="selectedID"> 

                      <option *ngFor = " let cat of CatList " [value]="cat.ID">
                      {{cat.Name}}
                      </option>
                      
                      </select>
                      <br><br>
                      <br><br>
                    <div>{{selectedID}}</div>
                  </div>
                  <div class="col-lg-6">
                      <div data-role="page">
                          <div data-role="header">
                         
                          <div data-role="main" class="ui-content">
                            <form method="post" action="/action_page_post.php">
                              <div data-role="rangeslider">
                                <label for="price-min">Price:</label>
                                <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
                                <label for="price-max">Price:</label>
                                <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                              </div>
                                <input type="submit" data-inline="true" value="Submit">
                                
                              </form>
                          </div>
                        </div>
                  </div>
                  </div>


 
  <div class="container">

<app-shopping-card-details [CategoryOfSelected]="selectedID">

  </app-shopping-card-details>

  </div>


</div>
