.bg-light
{
    background-color: #c5ead9;
}

span{
    font-size: 15px;
}
#uppernav
{background-color: rgb(182, 191, 202);}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.active-link{
     background-color:rgb(191, 201, 223);
}