<br><br><br><br><br>
<div class="row">
  <div class="col-lg-4" *ngFor="let prd of PrdListFromCat">
<!--Card-->
<div class="card card-cascade card-ecommerce narrower">

    <!--Card image-->
    <div class="view view-cascade overlay">
      <img  class="mx-auto d-block" alt="Cinque Terre"src="assets/SunGlassesForWoman/{{prd.Image}}"
        alt="" style="width:100%;height: 300px;">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
  
    <!--Card content-->
    <div class="card-body card-body-cascade text-center">
      <!--Category & Title-->
      <h5>{{prd.Name}}</h5>
    
  
      <!--Card footer-->
    
      <div class="card-footer">
        <span class="float-left">49$</span><del class="price-old">$1980</del>
        <span class="float-right">
          <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye" style="font-size:20px"></i></a>
          <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart" style="font-size:20px ;color:red"></i></a>
        </span>
      </div>
    
  
    </div>
    <!--/.Card content-->
  
    <button type="button"  class="btn btn-outline-success" style="background-color:rgb(17, 33, 68);color:palevioletred" (click)="OnAddCard(prd)">    
        Add to card
    </button>
  </div>

<br>
<br>
  <!--/.Card-->
</div>

</div>











